.page
{
	background-color:grey;
	width:100%;
    height:	auto;
	

}

.headerpart 
{
	width:1500px;
	height:200px;
	
	background-color:rgb(0,0,255);
	background-image:url("header.jpg");
	background-repeat:no-repeat;
}
.linkpart
{
	width:1500px;
	height:30px;
	margin-top:5px;
	border-style:solid;
	background-color:rgb(0,0,255);
}
.linkpart a 
 {
	 margin-right:18px;
	color:rgb(245,246,251);
	text-decoration:none;
	
 }
 .linkpart a:hover
 {
	    background-color:rgb(0,0,255);
	 	background-color:rgb(100,200,251);
 }
 .bodypart
 {
	 width:1500px;
	 height:445px;
	
	 margin-top:15px;
 }

 .bodypart .imagepart
 {
	 width:600px;
	 height:340px;
	 border-style:groove;
	 background-image:url("webgift.gif");
	 background-repeat:no-repeat;
	 margin-left:70px;
	 
	 display:inline-block;
 }
 
 .bodypart .newpart
 {
	 width:600px;
	 height:440px;
	
	 float:right;
	 margin-right:15px;
	 
 }
.bodypart .newpart h1
{
	color:green;

}
.bodypart .newpart .news
{
	width:500px;
	height:350px;
	border-style:solid;
	margin:center;
	margin-left:50px;
	margin-top:10px;
}
	
	.bodypart .newpart .news h2
	{
		color:red;
		
	}
	.bodypart h4
	{
		color:blue;
	}
	.footerpart
{
	width:1500px;
	height:39px;
	margin-top:10px;
	
	background-color:rgb(10,300,500);
}
