*{
	margin:o;
    padding:0;
	
}

.header{
	min-height:100vh;
	background-image:url('3rdpic.jpg');
	background-position:center;
	background-size:cover;
	position:relative;

}
nav{
	display:flex;
	padding:2% 6%;
	justify-content:center;
}
nav img{
	width:150px;
}
	.nav-link{
		flex:1;
		text-align:right;
	}
	.nav-link ul li{
		list-style:none;
		display:inline-block;
		padding:8px 12px;
		position:relative;
		
	
	
